* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
}

ul,
dl,
ol {
    list-style: none;
}

.img-wrap {
    position: relative;
}

.rel {
    max-width: 1440px;
    margin: auto;
    height: 100%;
    position: relative;
}

.tit-wrap {
    color: #fff;
}






header {
    position: fixed;
    z-index: 3;
    color: #fff;
    top: 0;
    width: 100%;
}

header .rel h1 {
    font-size: 30px;

}

header .rel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s0,
#s2 {
    background-color: #6d6d6d;
}

#s1,
#s3 {
    position: relative;
    background-color: #cecece;
}

.rel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rel h1 {
    font-size: 60px;
}

.rel p {
    font-size: 18px;
}

#s1 .rel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#s1 .img-wrap {
    width: 500px;
    height: 600px;
    background-color: salmon;
    opacity: 0;
}

#s1 .img-wrap .name {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: -20px;
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    font-size: 20px;
    transform: rotate(5deg);
}

.profile-wrap {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.pf-con {
    width: 48%;
    min-height: 250px;


}

.pf-con h3 {
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    text-indent: 10px;
    text-transform: capitalize;
    font-size: 30px;
    opacity: 0;
}

.pf-con dl {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.pf-con dl dt {
    width: 30%;
    padding: 10px 0;
    font-weight: 700;
    /* font-size: 13px; */
    text-transform: capitalize;
}

.pf-con dl dd {
    padding: 10px 0;
    width: 70%;
}


.skill-list {
    padding-left: 20px;
}

.skill-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.skill-list li span {
    display: block;
    width: 30%;
    padding-right: 20px;
    font-weight: 700;
}

.pg-wrap {
    background-color: #ddd;
    width: 70%;
    height: 15px;
    border-radius: 15px;
    position: relative;
}

.pg-wrap .pg {
    background-color: salmon;
    height: 10px;
    position: absolute;
    width: 0;
    top: calc(50% - 5px);
    border-radius: 10px;
}

.pf-con dl>* {
    opacity: 0;
}

.skill-list li>* {
    opacity: 0;
}


/* 2 */
#s2 {
    padding: 100px 0;
    height: auto;
}
#s2 .rel {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 50px;
}

.skill-inner {
    /* overflow: hidden; */
    padding: 0 0 2vw 2.6vw;
}

.skill-wrap {
    display: flex;
    gap: 50px;
}

.skill-wrap li  {
    width: 30vw;
    height: 30vw;
    
}
.skill-wrap li  a{
    background-color: purple;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 2vw, 3vw);
    text-transform: uppercase;
    display: flex;
    height: 100%;
}

@media screen and (max-width:1023px) {
 
    .skill-wrap {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .skill-inner {
        width: 100%;
        padding: 0 20px;
    }

    .skill-wrap li {
        width: calc(50% - 12.5px);
    }

    .skill-wrap li a {
        width: 100%;
        height: 300px;
    }

}
@media screen and (max-width:768px) {

    .skill-wrap li {
        width: 100%;
    }
}